@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap");
.glavnaya {
  width: 1520px;
}

.o-nas {
  width: 1520px;
  background: var(--gray-6, #FAFAFA);
  height: 2900px;
<<<<<<< HEAD
  margin: 0 auto;
=======
>>>>>>> origin/isfandiyor
}

.box__black {
  width: 1535px;
  height: 40px;
  background: var(--black, #0D0D0D);
  position: absolute;
  margin-top: -7.7px;
  margin-left: -8px;
}

.p {
  color: var(--white, #FFF);
  text-align: center;
  font-variant-numeric: lining-nums proportional-nums;
  font-family: Montserrat;
  font-size: 10px;
  font-style: normal;
  font-weight: 700;
  line-height: 140%; /* 14px */
  letter-spacing: 1.5px;
  text-transform: uppercase;
  margin-left: 147px;
  margin-top: 13px;
  text-decoration: none;
  position: absolute;
}

.p:nth-child(2) {
  color: rgba(255, 255, 255, 0.3);
  text-align: center;
  font-variant-numeric: lining-nums proportional-nums;
  font-family: Montserrat;
  font-size: 10px;
  font-style: normal;
  font-weight: 700;
  line-height: 140%; /* 14px */
  letter-spacing: 1.5px;
  text-transform: uppercase;
  margin-left: 172px;
  margin-top: 13px;
  text-decoration: none;
  position: absolute;
}

.real-flex {
  width: 1535px;
  height: 72px;
  background: var(--gray-6, #FAFAFA);
  /* Shadow / 700 */
  box-shadow: 0px 14px 64px -4px rgba(24, 39, 75, 0.12), 0px 8px 22px -6px rgba(24, 39, 75, 0.12);
  margin-left: -8px;
  position: absolute;
  margin-top: 31px;
}

.milandi {
  margin-left: 145px;
  margin-top: 20px;
}

.ul {
  margin-left: 343px;
  margin-top: -18px;
}

a {
  color: #000;
  position: relative;
  text-decoration: none;
  margin-left: 24px;
}

a::before {
  background: hsl(158, 90%, 48%);
  content: "";
  inset: 0;
  position: absolute;
  transform: scaleX(0);
  transform-origin: right;
  transition: transform 0.5s ease-in-out;
  z-index: -1;
}

a:hover::before {
  transform: scaleX(1);
  transform-origin: left;
}

.sign {
  width: 70px;
  height: 30px;
  border-radius: 4px;
  background: var(--black-5, rgba(0, 0, 0, 0.05));
  font-size: 14px;
  text-transform: uppercase;
  font-weight: bold;
  font-family: sans-serif;
  position: relative;
  overflow: hidden;
  z-index: 1;
  transition: 0.5s;
  margin: 1em;
  position: absolute;
  background-color: var(--c);
  transform: translateY(150%);
  left: calc((var(--n) - 1) * 25%);
  transition: 0.5s;
  transition-delay: calc((var(--n) - 1) * 0.1s);
  z-index: -1;
  margin-left: 940px;
  margin-top: -80px;
  z-index: 1;
}

.sign:hover {
  color: black;
  transform: translateY(0) scale(2);
  --n: 1;
}

.btn {
  width: 197px;
  height: 30px;
  border-radius: 4px;
  background: var(--yellow, #FFC000);
  color: var(--black, #0D0D0D);
  text-align: center;
  font-variant-numeric: lining-nums proportional-nums;
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%; /* 22.4px */
  letter-spacing: 0.44px;
  border: none;
  margin-left: 1033px;
  margin-top: -35px;
  position: absolute;
}

.btn:hover {
  background-color: black;
  color: #FFF;
  transition: 0.5s;
}

.korzinka {
  margin-left: 1261px;
  margin-top: -40px;
  position: absolute;
}

.oon {
  color: #000;
  text-align: center;
  font-variant-numeric: lining-nums proportional-nums;
  font-family: Montserrat;
  font-size: 34px;
  font-style: normal;
  font-weight: 700;
  line-height: 140%; /* 47.6px */
  letter-spacing: 0.25px;
  position: absolute;
  margin-left: 668px;
  margin-top: 178px;
}

.p-king {
  color: #000;
  font-variant-numeric: lining-nums proportional-nums;
  font-family: Montserrat;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 140%; /* 33.6px */
  position: absolute;
  margin-left: 147px;
  margin-top: 311px;
}

.ye {
  color: #000;
  font-variant-numeric: lining-nums proportional-nums;
  font-family: Montserrat;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 170%; /* 23.8px */
  letter-spacing: 0.25px;
  margin-left: 147px;
  margin-top: 403px;
  position: absolute;
}

.market {
  margin-left: 833px;
  margin-top: 230px;
}

.king {
  color: #000;
  text-align: center;
  font-variant-numeric: lining-nums proportional-nums;
  font-family: Montserrat;
  font-size: 34px;
  font-style: normal;
  font-weight: 700;
  line-height: 140%; /* 47.6px */
  letter-spacing: 0.25px;
  margin-left: 552px;
  margin-top: 63px;
  position: absolute;
}

.stars {
  margin-left: 274px;
  margin-top: 175px;
}

.service {
  color: var(--black, #000);
  font-variant-numeric: lining-nums proportional-nums;
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%; /* 22.4px */
  letter-spacing: 0.44px;
  margin-left: 226px;
}

.truc {
  margin-left: 700px;
  margin-top: -45px;
  position: absolute;
}

.espres {
  color: var(--black, #000);
  font-variant-numeric: lining-nums proportional-nums;
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%; /* 22.4px */
  letter-spacing: 0.44px;
  margin-left: 637px;
  margin-top: -35px;
}

.luk {
  margin-left: 1126px;
  margin-top: -65px;
  position: absolute;
}

.best {
  margin-left: 1031px;
  margin-top: -30px;
  position: absolute;
}

.db {
  height: 400px;
  position: absolute;
  background-color: #0F0D2B;
  margin-top: 268px;
  width: 1530px;
}

.apple {
  margin-top: -150px;
  margin-left: 120px;
}

.pistol {
  color: var(--white, #FFF);
  font-variant-numeric: lining-nums proportional-nums;
  font-family: Montserrat;
  font-size: 34px;
  font-style: normal;
  font-weight: 700;
  line-height: 140%; /* 47.6px */
  letter-spacing: 0.25px;
  margin-left: 540px;
  margin-top: -330px;
}

.clean {
  margin-left: 540px;
  color: var(--white, #FFF);
  font-variant-numeric: lining-nums proportional-nums;
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%; /* 22.4px */
  letter-spacing: 0.44px;
  position: absolute;
}

.apps {
  margin-left: 540px;
  margin-top: 142px;
}

.google {
  margin-left: 40px;
  position: absolute;
  margin-top: 143px;
}

.map {
  width: 705px;
  height: 624.523px;
  flex-shrink: 0;
  border-radius: 6px;
  background: url(<path-to-image>), lightgray 50%/cover no-repeat;
  margin-top: 152px;
}

.nooo {
  color: #000;
  font-family: Inter;
  font-size: 46px;
  font-style: normal;
  font-weight: 900;
  line-height: 64px; /* 139.13% */
  margin-left: 833px;
  margin-top: -600px;
}

.bali {
  color: #000;
  font-family: Inter;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 32px; /* 177.778% */
  margin-left: 833px;
}

.tipe {
  color: #000;
  font-family: Inter;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px; /* 177.778% */
  margin-left: 833px;
}

.London {
  color: #000;
  font-family: Inter;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 32px; /* 177.778% */
  margin-left: 1127px;
  margin-top: -160px;
}

.tist {
  color: #000;
  font-family: Inter;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px; /* 177.778% */
  margin-left: 1127px;
}

.Moscow {
  color: #000;
  font-family: Inter;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 32px; /* 177.778% */
  margin-left: 833px;
}

.prague {
  color: #000;
  font-family: Inter;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 32px; /* 177.778% */
  margin-left: 1127px;
}

.mosq {
  margin-top: -165px;
}

.pro {
  color: var(--black, #000);
  font-variant-numeric: lining-nums proportional-nums;
  font-family: Montserrat;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 140%; /* 19.6px */
  letter-spacing: 0.75px;
  text-transform: uppercase;
  margin-top: 1490px;
  position: absolute;
  margin-left: 146px;
}

.lorem- {
  color: var(--black, #000);
  font-variant-numeric: lining-nums proportional-nums;
  font-family: Montserrat;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 160%; /* 22.4px */
  letter-spacing: 0.25px;
  position: absolute;
  margin-top: 1520px;
  margin-left: 146px;
}

.iml {
  margin-top: 1620px;
  margin-left: 146px;
}

.contact {
  color: var(--black, #000);
  font-variant-numeric: lining-nums proportional-nums;
  font-family: Montserrat;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 140%; /* 19.6px */
  letter-spacing: 0.75px;
  text-transform: uppercase;
  margin-left: 440px;
  margin-top: -230px;
  position: absolute;
}

.my {
  color: var(--black, #000);
  font-variant-numeric: lining-nums proportional-nums;
  font-family: Montserrat;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 160%; /* 22.4px */
  letter-spacing: 0.25px;
  margin-left: 440px;
  margin-top: -200px;
  position: absolute;
}

.gmail {
  color: var(--black, #000);
  font-variant-numeric: lining-nums proportional-nums;
  font-family: Montserrat;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 160%; /* 22.4px */
  letter-spacing: 0.25px;
  margin-left: 440px;
  margin-top: -180px;
  position: absolute;
}

.time {
  margin-left: 440px;
  color: var(--black, #000);
  font-variant-numeric: lining-nums proportional-nums;
  font-family: Montserrat;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 140%; /* 19.6px */
  letter-spacing: 0.75px;
  text-transform: uppercase;
  margin-top: -100px;
  position: absolute;
}

.lipe {
  color: var(--black, #000);
  font-variant-numeric: lining-nums proportional-nums;
  font-family: Montserrat;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 160%; /* 22.4px */
  letter-spacing: 0.25px;
  margin-left: 440px;
  margin-top: -70px;
  position: absolute;
}

.dl {
  color: var(--black, #000);
  font-variant-numeric: lining-nums proportional-nums;
  font-family: Montserrat;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 160%; /* 22.4px */
  letter-spacing: 0.25px;
  margin-left: 440px;
  margin-top: -50px;
  position: absolute;
}

.laps {
  color: var(--black, #000);
  font-variant-numeric: lining-nums proportional-nums;
  font-family: Montserrat;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 140%; /* 19.6px */
  letter-spacing: 0.75px;
  text-transform: uppercase;
  margin-left: 832px;
  margin-top: -225px;
  position: absolute;
}

.ds {
  color: var(--black, #000);
  font-variant-numeric: lining-nums proportional-nums;
  font-family: Montserrat;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 160%; /* 22.4px */
  letter-spacing: 0.25px;
  margin-left: 832px;
  margin-top: -200px;
  position: absolute;
}

.hg {
  color: var(--black, #000);
  font-variant-numeric: lining-nums proportional-nums;
  font-family: Montserrat;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 160%; /* 22.4px */
  letter-spacing: 0.25px;
  margin-left: 833px;
  margin-top: -180px;
  position: absolute;
}

.kat {
  color: var(--black, #000);
  font-variant-numeric: lining-nums proportional-nums;
  font-family: Montserrat;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 160%; /* 22.4px */
  letter-spacing: 0.25px;
  margin-left: 833px;
  margin-top: -160px;
  position: absolute;
}

.jat {
  color: var(--black, #000);
  font-variant-numeric: lining-nums proportional-nums;
  font-family: Montserrat;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 160%; /* 22.4px */
  letter-spacing: 0.25px;
  margin-left: 833px;
  margin-top: -140px;
  position: absolute;
}

.hap {
  color: var(--black, #000);
  font-variant-numeric: lining-nums proportional-nums;
  font-family: Montserrat;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 140%; /* 19.6px */
  letter-spacing: 0.75px;
  text-transform: uppercase;
  margin-left: 1128px;
  margin-top: -225px;
  position: absolute;
}

.woman {
  color: var(--black, #000);
  font-variant-numeric: lining-nums proportional-nums;
  font-family: Montserrat;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 160%; /* 22.4px */
  letter-spacing: 0.25px;
  margin-left: 1128px;
  margin-top: -200px;
  position: absolute;
}

.man {
  color: var(--black, #000);
  font-variant-numeric: lining-nums proportional-nums;
  font-family: Montserrat;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 160%; /* 22.4px */
  letter-spacing: 0.25px;
  margin-left: 1128px;
  margin-top: -180px;
  position: absolute;
}

.child {
  color: var(--black, #000);
  font-variant-numeric: lining-nums proportional-nums;
  font-family: Montserrat;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 160%; /* 22.4px */
  letter-spacing: 0.25px;
  margin-left: 1128px;
  margin-top: -160px;
  position: absolute;
}

.obuv {
  color: var(--black, #000);
  font-variant-numeric: lining-nums proportional-nums;
  font-family: Montserrat;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 160%; /* 22.4px */
  letter-spacing: 0.25px;
  margin-left: 1128px;
  margin-top: -140px;
  position: absolute;
}

.pag {
  color: var(--black, #000);
  font-variant-numeric: lining-nums proportional-nums;
  font-family: Montserrat;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 160%; /* 22.4px */
  letter-spacing: 0.25px;
  margin-left: 1128px;
  margin-top: -120px;
  position: absolute;
}

.acss {
  color: var(--black, #000);
  font-variant-numeric: lining-nums proportional-nums;
  font-family: Montserrat;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 160%; /* 22.4px */
  letter-spacing: 0.25px;
  margin-left: 1128px;
  margin-top: -100px;
  position: absolute;
}

@media (max-width: 1285px) {
  .box__black {
    display: none;
  }
  header {
    display: none;
  }
  .hamburger {
    margin-left: 300px;
    margin-top: 24px;
    position: absolute;
  }
  .iml {
    margin-top: -895px;
    margin-left: -100px;
    position: absolute;
  }
  .oon {
    margin-left: -1px;
  }
  .market {
    width: 319px;
    height: 271.663px;
    flex-shrink: 0;
    border-radius: 6px;
    background: url(<path-to-image>), lightgray 50%/cover no-repeat;
    margin-left: 0px;
  }
  .p-king {
    margin-top: 520px;
    position: absolute;
    margin-left: 0px;
  }
  .ye {
    margin-top: 590px;
    position: absolute;
    margin-left: -2px;
  }
  .king {
    margin-top: 240px;
    margin-left: -1px;
  }
  .legend {
    display: none;
    position: absolute;
  }
  .db {
    margin-top: 500px;
    position: absolute;
    width: 375px;
    height: 689px;
    flex-shrink: 0;
    background: radial-gradient(1075.73% 141.42% at 0% 0%, #0F0D2B 0%, #0C0926 100%);
  }
  .apple {
    width: 123px;
    height: 220px;
    transform: rotate(-22.038deg);
    flex-shrink: 0;
    margin-top: -70px;
    margin-left: 20px;
  }
  .pistol {
    margin-left: 10px;
    position: absolute;
    margin-top: -25px;
    width: 303px;
  }
  .clean {
    margin-left: -1px;
    width: 303px;
    margin-top: 130px;
    position: absolute;
  }
  .lucky {
    display: none;
  }
  .trucher {
    margin-top: 380px;
    position: absolute;
    margin-left: -600px;
  }
  .truck {
    margin-top: -10px;
    position: absolute;
  }
  .espres {
    margin-top: 5px;
  }
}
@media (max-width: 500px) {
  .hamburger {
    margin-left: 0px;
  }
  .iml {
    margin-left: 50px;
  }
}
.kategori {
  width: 1520px;
}

.tovar .header {
  width: 1440px;
  height: 800px;
  margin: 0 auto;
}
.tovar .header__nav {
  width: 100%;
  height: 14%;
}
.tovar .header__nav .nav__logo {
  width: 1440px;
  height: 40px;
<<<<<<< HEAD

  background-color: black;
  display: flex;
}
.tovar .header__nav .nav__logo .p1 {
  color: white;
  padding-left: 110px;
}
.tovar .header__nav .nav__logo .p2 {
  color: rgba(255, 255, 255, 0.3019607843);

=======
>>>>>>> origin/isfandiyor
  border: 1px solid;
  background-color: black;
  display: flex;
}
.tovar .header__nav .nav__logo p {
  color: beige;
<<<<<<< HEAD

=======
>>>>>>> origin/isfandiyor
  padding-left: 110px;
}
.tovar .header__nav .nav__list {
  width: 1440px;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: space-around;
<<<<<<< HEAD
  box-shadow: 0px 14px 64px -4px rgba(24, 39, 75, 0.1215686275);
  box-shadow: 0px 8px 22px -6px rgba(24, 39, 75, 0.1215686275);

  background-color: beige;

=======
  background-color: beige;
>>>>>>> origin/isfandiyor
}
.tovar .header__nav .nav__list .list__item {
  display: flex;
  list-style: none;
  gap: 20px;
}
<<<<<<< HEAD
.tovar .header__nav .nav__list .list__logo {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 20px;
}
.tovar .header__nav .nav__list .list__logo .zar {
  background: #FFC000;
  border-radius: 4px;
  padding: 4px 4px;
  border: none;
}
.tovar .header__nav .nav__list .list__logo .vayti {
  left: 940px;
  padding: 4px 8px 4px 8px;
  border-radius: 4px;
  border: none;
}
.tovar .hero {

=======
>>>>>>> origin/isfandiyor
.tovar .header__nav .nav__list .list__logo .zar {
  background-color: yellow;
  border-radius: 4px;
  padding: 4px 4px;
}
.tovar .header__nav .nav__list .list__logo .vayti {
  top: 61px;
  left: 940px;
  padding: 4px 8px 4px 8px;
  border-radius: 4px;
}
.tovar .header .hero {
<<<<<<< HEAD

=======
>>>>>>> origin/isfandiyor
  width: 1146px;
  height: 602px;
  margin: 0 auto;
  display: flex;
}
<<<<<<< HEAD

.tovar .hero .hero__image {

.tovar .header .hero .hero__image {

=======
.tovar .header .hero .hero__image {
>>>>>>> origin/isfandiyor
  width: 50%;
  height: 100%;
  grid-row-start: 1;
  grid-row-end: 4;
}
<<<<<<< HEAD

.tovar .hero .hero__image .imgs2 {
  display: flex;
  flex-direction: row;
  gap: 14.5px;
  margin-top: 10px;
  align-items: center;
}
.tovar .hero .hero__image .imgs2 .img2 {
  width: 104px !important;
  height: 104px !important;
}
.tovar .hero .hero__image .hero__text {
  width: 50%;
  height: 100%;
}
.tovar .hero .hero__image .hero__text .lorem5 {
=======
.tovar .header .hero .hero__text {
  width: 50%;
  height: 100%;
}
.tovar .header .hero .hero__text .lorem5 {
>>>>>>> origin/isfandiyor
  font-family: Montserrat;
  font-size: 34px;
  font-weight: 700;
  line-height: 48px;
  letter-spacing: 0.25px;
}
<<<<<<< HEAD

.tovar .hero .hero__image .hero__text .dob {

.tovar .header .hero .hero__text .dob {

=======
.tovar .header .hero .hero__text .dob {
>>>>>>> origin/isfandiyor
  width: 360px;
  height: 40px;
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
  letter-spacing: 0.75px;
  text-align: center;
  background: #FFC000;
}
<<<<<<< HEAD

.tovar .hero .hero__image .hero__text .bis {

.tovar .header .hero .hero__text .bis {

=======
.tovar .header .hero .hero__text .bis {
>>>>>>> origin/isfandiyor
  width: 360px;
  height: 40px;
  background-color: rgb(143, 138, 138);
  text-align: center;
}
<<<<<<< HEAD

.tovar .hero .hero__image .hero__text .pre {

.tovar .header .hero .hero__text .pre {

=======
.tovar .header .hero .hero__text .pre {
>>>>>>> origin/isfandiyor
  width: 199px;
  height: 34px;
  font-family: Montserrat;
  font-size: 24px;
  font-weight: 700;
  line-height: 34px;
  letter-spacing: 0em;
  text-align: left;
}
<<<<<<< HEAD

.tovar .hero .hero__image .hero__text .box {

.tovar .header .hero .hero__text .box {

=======
.tovar .header .hero .hero__text .box {
>>>>>>> origin/isfandiyor
  width: 330px;
  height: 70px;
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
}
.tovar .section__product {
  width: 1146px;
  margin: 0 auto;
  display: flex;
  gap: 25px;
<<<<<<< HEAD

}
.tovar .section__product .product_box {
  border-radius: 12px;
  width: 264px;
  height: 542px;
  box-shadow: 0px 0px 98px 0px rgba(0, 0, 0, 0.0509803922);

=======
>>>>>>> origin/isfandiyor
  background-color: beige;
}
.tovar .section__product .product_box {
  width: 264px;
  height: 532px;
<<<<<<< HEAD

=======
>>>>>>> origin/isfandiyor
}
.tovar .section__product .product_box p {
  width: 245px;
  height: 20px;
  font-family: Montserrat;
  font-size: 20px;
}
.tovar .section__product .product_box .lor {
  font-family: Montserrat;
  font-size: 12px;
  font-weight: 500;
  line-height: 17px;
  letter-spacing: 0.400000006px;
  text-align: left;
}
.tovar .section__product .product_box .doba {
  width: 238px;
  height: 36px;
  border-radius: 4px;
  background-color: #FFC000;
  text-align: center;
}
.tovar .container {
  width: 1146px;
  height: 400px;
  margin: 0 auto;
<<<<<<< HEAD


  background-color: beige;

=======
  background-color: beige;
>>>>>>> origin/isfandiyor
}
.tovar .container .wear_box {
  display: flex;
}
.tovar .container .wear_box .wear {
  width: 265px;
<<<<<<< HEAD

  margin-left: 20px;

=======
>>>>>>> origin/isfandiyor
}
.tovar .container .wear_box .wear p {
  font-family: Montserrat;
  text-align: center;
}
.tovar .fotter {
  width: 1440px;
  height: 323px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  gap: 32px;
}
.tovar .fotter .title {
  width: 260px;
  height: 225px;
}

.filter {
  width: 1520px;
}

.xudi {
  width: 1520px;
}

.magazin {
  width: 1520px;
}

.oplata {
  width: 1520px;
  height: 1000px;
  background-color: #fafafa;
  margin: 0 auto;
}

.til {
  width: 1520px;
  height: 40px;
  background-color: black;
  color: white;
}

.til h5 {
  margin-left: 200px;
}

.logo {
  width: 150px;
  height: 80px;
  display: flex;
  margin-left: 200px;
}

.logo-list {
  width: 800px;
  height: 50px;
  display: flex;
  gap: 30px;
  margin-top: 30px;
  margin-left: 50px;
}

.logo-list2 {
  width: 400px;
  height: 50px;
  display: flex;
  margin-left: 250px;
  margin-top: 15px;
}

.Зарегистрироваться {
  background-color: #FFC000;
}

.tolov {
  width: 23%;
  margin-left: 350px;
}
.tolov .img {
  width: 366px;
  height: 366px;
}

.plastik {
  margin-top: 50px;
  width: 50%;
  display: flex;
}
input {
  width: 460px;
  height: 60px;
  top: 264px;
  left: 833px;
  margin-top: 20px;
}

label {
  width: 300px;
  height: 21px;
  top: 448px;
  left: 833px;
}

.plastik-list {
  margin-left: 500px;
  margin-top: -300px;
}

.Оплатить {
  margin-top: 20px;
  width: 460px;
  height: 59px;
  top: 571px;
  left: 833px;
  background: #FFC000;
}

.about {
  margin-left: 200px;
}

.kantak {
  margin-left: 500px;
}

.about {
  margin-top: 100px;
  display: flex;
  gap: 100px;
}

@media screen and (max-width: 812px) {
  oplata {
    display: grid;
    width: 100%;
  }
}
.container {
  margin: 0 auto;
}


.oformlenie {
  width: 1520px;
  height: 1365px;
  background: #fafafa;
}
.oformlenie .oformlenie-top {
  width: 100%;
  height: 40px;
  background-color: #0d0d0d;
}
.oformlenie .oformlenie-top .oformlenie-top-info {
  display: flex;
}
.oformlenie .oformlenie-top .oformlenie-top-info h5 {
  margin-left: 147px;
  color: #fff;
  font-family: "Montserrat", sans-serif;
  font-size: 10px;
  font-style: normal;
  font-weight: 700;
  line-height: 140%;
  letter-spacing: 1.5px;
  text-transform: uppercase;
}
.oformlenie .oformlenie-top .oformlenie-top-info h4 {
  margin-top: 17px;
  margin-left: 8px;
  color: rgba(255, 255, 255, 0.3);
  font-family: "Montserrat", sans-serif;
  font-size: 10px;
  font-style: normal;
  font-weight: 700;
  line-height: 140%;
  letter-spacing: 1.5px;
  text-transform: uppercase;
}
.oformlenie nav {
  display: flex;
  width: 100%;
  height: 72px;
  box-shadow: 0px 14px 64px -4px rgba(24, 39, 75, 0.12), 0px 8px 22px -6px rgba(24, 39, 75, 0.12);
}
.oformlenie nav .nav-logo {
  width: 20%;
  height: 100%;
}
.oformlenie nav .nav-logo h2 {
  margin-left: 145px;
  color: #0d0d0d;
  font-family: "Poppins", sans-serif;
  font-size: 23px;
  font-style: normal;
  font-weight: 900;
  line-height: 140%;
  letter-spacing: 0.4px;
}
.oformlenie nav .nav-list {
  display: flex;
  margin-left: 98px;
  width: 70%;
  height: 100%;
}
.oformlenie nav .nav-list .menu {
  display: none;
}
.oformlenie nav .nav-list .brand {
  display: none;
}
.oformlenie nav .nav-list ul {
  margin-top: 26px;
  list-style: none;
  display: flex;
  column-gap: 24px;
}
.oformlenie nav .nav-list ul li {
  color: #000;
  text-align: center;
  font-family: "Montserrat";
  font-size: 14px;
  font-style: normal;
  font-weight: 900;
  line-height: 140%;
  letter-spacing: 0.1px;
}
.oformlenie nav .nav-list .nav-btn1 {
  margin-top: 21px;
  margin-left: 223px;
  width: 70px;
  height: 30px;
  padding: 4px 8px;
  color: #0d0d0d;
  border-radius: 4px;
  background: rgba(0, 0, 0, 0.05);
  border: none;
  text-align: center;
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 800;
  line-height: 140%;
  letter-spacing: 0.44px;
}
.oformlenie nav .nav-list .nav-btn2 {
  margin-top: 21px;
  margin-left: 15px;
  width: 197px;
  height: 30px;
  padding: 4px 8px;
  border-radius: 4px;
  background: #ffc000;
  border: none;
  color: #0d0d0d;
  text-align: center;
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 800;
  line-height: 140%;
  letter-spacing: 0.44px;
}
.oformlenie nav .nav-list img {
  margin-top: 20px;
  margin-left: 39px;
  width: 32px;
  height: 32px;
}
.oformlenie .oformlenie-zakaz {
  width: 100%;
  height: 600px;
}
.oformlenie .oformlenie-zakaz .oformlenie-zakaz-top {
  margin-top: 54px;
  width: 100%;
  height: 10%;
}
.oformlenie .oformlenie-zakaz .oformlenie-zakaz-top h1 {
  color: #000;
  text-align: center;
  font-family: Montserrat;
  font-size: 34px;
  font-style: normal;
  font-weight: 900;
  line-height: 140%;
  letter-spacing: 0.25px;
}
.oformlenie .oformlenie-zakaz .oformlenie-zakaz-main {
  display: flex;
}
.oformlenie .oformlenie-zakaz .oformlenie-zakaz-main .oformlenie-zakaz-left {
  margin-top: 80px;
  width: 45%;
  height: 60%;
}
.oformlenie .oformlenie-zakaz .oformlenie-zakaz-main .oformlenie-zakaz-left .oformlenie-summa {
  margin-left: 147px;
  width: 460px;
  height: 113px;
  background: #ffc000;
}
.oformlenie .oformlenie-zakaz .oformlenie-zakaz-main .oformlenie-zakaz-left .oformlenie-summa .oformlenie-summa-top {
  display: flex;
  width: 100%;
  height: 60px;
  justify-content: space-between;
}
.oformlenie .oformlenie-zakaz .oformlenie-zakaz-main .oformlenie-zakaz-left .oformlenie-summa .oformlenie-summa-top h4 {
  margin-top: 3px;
  color: #0d0d0d;
  font-family: Montserrat;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 140%;
  letter-spacing: 0.15px;
}
.oformlenie .oformlenie-zakaz .oformlenie-zakaz-main .oformlenie-zakaz-left .oformlenie-summa .oformlenie-summa-top h5 {
  margin-top: 3px;
  color: #0d0d0d;
  font-family: Montserrat;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 140%;
  letter-spacing: 0.15px;
}
.oformlenie .oformlenie-zakaz .oformlenie-zakaz-main .oformlenie-zakaz-left .oformlenie-summa .oformlenie-summa-bottom {
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: space-between;
}
.oformlenie .oformlenie-zakaz .oformlenie-zakaz-main .oformlenie-zakaz-left .oformlenie-summa .oformlenie-summa-bottom h4 {
  margin-top: 5px;
  color: #0d0d0d;
  font-family: Montserrat;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 140%;
  letter-spacing: 0.15px;
}
.oformlenie .oformlenie-zakaz .oformlenie-zakaz-main .oformlenie-zakaz-left .oformlenie-summa .oformlenie-summa-bottom h5 {
  margin-top: 5px;
  color: #0d0d0d;
  font-family: Montserrat;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 140%;
  letter-spacing: 0.15px;
}
.oformlenie .oformlenie-zakaz .oformlenie-zakaz-main .oformlenie-zakaz-left .payment {
  display: flex;
  margin-top: 48px;
  margin-left: 147px;
  width: 460px;
  height: 60px;
  column-gap: 48px;
}
.oformlenie .oformlenie-zakaz .oformlenie-zakaz-main .oformlenie-zakaz-right {
  margin-top: 58px;
  margin-left: 144px;
  width: 37%;
  height: 400px;
}
.oformlenie .oformlenie-zakaz .oformlenie-zakaz-main .oformlenie-zakaz-right input {
  margin-top: 24px;
  width: 558px;
  height: 59px;
  background: #f1f1f1;
  border: none;
  color: rgba(0, 0, 0, 0.4);
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%;
  letter-spacing: 0.44px;
}
.oformlenie .oformlenie-zakaz .oformlenie-zakaz-main .oformlenie-zakaz-right .right-btn {
  margin-top: 24px;
  width: 560px;
  height: 62px;
  background: #ffc000;
  border: none;
  color: #0d0d0d;
  font-family: Montserrat;
  font-size: 14px;
  font-style: normal;
  font-weight: 900;
  line-height: 140%;
  letter-spacing: 0.75px;
  text-transform: uppercase;
}
.oformlenie .vash-zakaz {
  width: 100%;
  height: 800px;
  gap: 24px;
}
.oformlenie .vash-zakaz h2 {
  color: #000;
  text-align: center;
  font-family: Montserrat;
  font-size: 34px;
  font-style: normal;
  font-weight: 900;
  line-height: 140%;
  letter-spacing: 0.25px;
}
.oformlenie .vash-zakaz .zakaz1 {
  margin-top: 24px;
  display: flex;
  margin-left: 147px;
  width: 1246px;
  height: 295px;
  border-radius: 12px;
  background: #fff;
}
.oformlenie .vash-zakaz .zakaz1 .zakaz1-info {
  width: 100%;
  height: 100%;
}
.oformlenie .vash-zakaz .zakaz1 .zakaz1-info .zakaz1-info-name {
  margin-left: 30px;
  display: flex;
  justify-content: space-between;
}
.oformlenie .vash-zakaz .zakaz1 .zakaz1-info .zakaz1-info-name h3 {
  color: #040921;
  font-family: Montserrat;
  font-size: 24px;
  font-style: normal;
  font-weight: 900;
  line-height: 140%;
}
.oformlenie .vash-zakaz .zakaz1 .zakaz1-info .zakaz1-info-name img {
  margin-top: 30px;
  margin-right: 20px;
  width: 24px;
  height: 24px;
}
.oformlenie .vash-zakaz .zakaz1 .zakaz1-info img {
  margin-top: 43px;
  margin-left: 30px;
}
.oformlenie .vash-zakaz .zakaz1 .zakaz1-info p {
  width: 754px;
  margin-top: 8px;
  margin-left: 30px;
  color: #000;
  font-family: Montserrat;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 160%;
  letter-spacing: 0.25px;
}
.oformlenie .vash-zakaz .zakaz1 .zakaz1-info .price {
  margin-left: 30px;
  display: flex;
}
.oformlenie .vash-zakaz .zakaz1 .zakaz1-info .price h4 {
  color: #0d0d0d;
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%;
  letter-spacing: 0.44px;
}
.oformlenie .vash-zakaz .zakaz1 .zakaz1-info .price h5 {
  margin-left: 40px;
  margin-top: 20px;
  color: #000;
  text-align: center;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 900;
  line-height: 24px;
}
.oformlenie .vash-zakaz .zakaz1 .zakaz1-info .price h5 span {
  color: #000;
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%;
  letter-spacing: 0.44px;
}
.oformlenie .vash-zakaz .zakaz1 .zakaz1-info .price .add {
  display: flex;
}
.oformlenie .vash-zakaz .zakaz1 .zakaz1-info .price .add .trash {
  display: none;
}
.oformlenie .vash-zakaz .zakaz1 .zakaz1-info .price .add img {
  width: 167px;
  height: 37px;
  margin-top: 10px;
  margin-left: 500px;
}
.oformlenie .vash-zakaz .zakaz2 {
  margin-top: 24px;
  display: none;
  margin-left: 147px;
  width: 1246px;
  height: 295px;
  border-radius: 12px;
  background: #fff;
}
.oformlenie .vash-zakaz .zakaz2 .zakaz1-info {
  width: 100%;
  height: 100%;
}
.oformlenie .vash-zakaz .zakaz2 .zakaz1-info .zakaz1-info-name {
  margin-left: 30px;
  display: flex;
  justify-content: space-between;
}
.oformlenie .vash-zakaz .zakaz2 .zakaz1-info .zakaz1-info-name h3 {
  color: #040921;
  font-family: Montserrat;
  font-size: 24px;
  font-style: normal;
  font-weight: 900;
  line-height: 140%;
}
.oformlenie .vash-zakaz .zakaz2 .zakaz1-info .zakaz1-info-name img {
  margin-top: 30px;
  margin-right: 20px;
  width: 24px;
  height: 24px;
}
.oformlenie .vash-zakaz .zakaz2 .zakaz1-info img {
  margin-top: 43px;
  margin-left: 30px;
}
.oformlenie .vash-zakaz .zakaz2 .zakaz1-info p {
  width: 754px;
  margin-top: 8px;
  margin-left: 30px;
  color: #000;
  font-family: Montserrat;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 160%;
  letter-spacing: 0.25px;
}
.oformlenie .vash-zakaz .zakaz2 .zakaz1-info .price {
  margin-left: 30px;
  display: flex;
}
.oformlenie .vash-zakaz .zakaz2 .zakaz1-info .price h4 {
  color: #0d0d0d;
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%;
  letter-spacing: 0.44px;
}
.oformlenie .vash-zakaz .zakaz2 .zakaz1-info .price h5 {
  margin-left: 40px;
  margin-top: 20px;
  color: #000;
  text-align: center;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 900;
  line-height: 24px;
}
.oformlenie .vash-zakaz .zakaz2 .zakaz1-info .price h5 span {
  color: #000;
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%;
  letter-spacing: 0.44px;
}
.oformlenie .vash-zakaz .zakaz2 .zakaz1-info .price .add {
  display: flex;
}
.oformlenie .vash-zakaz .zakaz2 .zakaz1-info .price .add .trash {
  display: none;
}
.oformlenie .vash-zakaz .zakaz2 .zakaz1-info .price .add img {
  width: 167px;
  height: 37px;
  margin-top: 10px;
  margin-left: 500px;
}
.oformlenie .magazini {
  margin-top: 64px;
  width: 100%;
  height: 250px;
}
.oformlenie .magazini h2 {
  margin-left: 704px;
  color: #000;
  font-family: Montserrat;
  font-size: 34px;
  font-style: normal;
  font-weight: 900;
  line-height: 140%;
  letter-spacing: 0.25px;
}
.oformlenie .magazini .magazini-cards {
  margin-left: 147px;
  column-gap: 61px;
  display: flex;
}
.oformlenie .magazini .magazini-cards .magazini-card {
  width: 264px;
  height: 107px;
  border-radius: 8px;
  background: rgba(0, 0, 0, 0.05);
}
.oformlenie .magazini .magazini-cards .magazini-card .card-pic4 {
  margin-top: 29px;
  margin-left: 59px;
}
.oformlenie .magazini .magazini-cards .magazini-card .card-pic {
  margin-top: 36px;
  margin-left: 16px;
}
.oformlenie .magazini .magazini-cards .magazini-card .card-pic2 {
  margin-top: 18px;
  margin-left: 76px;
}
.oformlenie .magazini .magazini-cards .magazini-card .card-pic3 {
  margin-top: 29px;
  margin-left: 52px;
}
.oformlenie .kategori {
  margin-top: 60px;
  width: 100%;
  height: 600px;
}
.oformlenie .kategori h2 {
  color: #000;
  text-align: center;
  font-family: Montserrat;
  font-size: 34px;
  font-style: normal;
  font-weight: 900;
  line-height: 140%;
  letter-spacing: 0.25px;
}
.oformlenie .kategori .kategori-brands {
  margin-left: 147px;
  display: flex;
  column-gap: 37px;
}
.oformlenie .kategori .kategori-brands .odejda {
  width: 216px;
  height: 80px;
  border-radius: 8px;
  background: #ffc000;
}
.oformlenie .kategori .kategori-brands .odejda h3 {
  color: #0d0d0d;
  text-align: center;
  font-family: Montserrat;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 140%;
  letter-spacing: 0.15px;
}
.oformlenie .kategori .kategori-brands .brand1 {
  width: 215px;
  height: 80px;
  border-radius: 8px;
  background: rgba(0, 0, 0, 0.05);
}
.oformlenie .kategori .kategori-brands .brand1 img {
  margin-top: 17px;
  margin-left: 53px;
}
.oformlenie .kategori .kategori-brands .brand2 {
  width: 215px;
  height: 80px;
  border-radius: 8px;
  background: rgba(0, 0, 0, 0.05);
}
.oformlenie .kategori .kategori-brands .brand2 img {
  margin-top: 13px;
  margin-left: 32px;
}
.oformlenie .kategori .kategori-brands .brand3 {
  width: 215px;
  height: 80px;
  border-radius: 8px;
  background: rgba(0, 0, 0, 0.05);
}
.oformlenie .kategori .kategori-brands .brand3 img {
  margin-top: 25px;
  margin-left: 25px;
}
.oformlenie .kategori .kategori-brands .brand4 {
  width: 215px;
  height: 80px;
  border-radius: 8px;
  background: rgba(0, 0, 0, 0.05);
}
.oformlenie .kategori .kategori-brands .brand4 img {
  margin-top: 21px;
  margin-left: 20px;
}
.oformlenie .kategori .kategori-brands-2 {
  margin-top: 24px;
  margin-left: 147px;
  display: flex;
  column-gap: 37px;
  row-gap: 24px;
}
.oformlenie .kategori .kategori-brands-2 .odejda {
  width: 216px;
  height: 80px;
  border-radius: 8px;
  background: #ffc000;
}
.oformlenie .kategori .kategori-brands-2 .odejda h3 {
  color: #0d0d0d;
  text-align: center;
  font-family: Montserrat;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 140%;
  letter-spacing: 0.15px;
}
.oformlenie .kategori .kategori-brands-2 .brand1 {
  width: 215px;
  height: 80px;
  border-radius: 8px;
  background: rgba(0, 0, 0, 0.05);
}
.oformlenie .kategori .kategori-brands-2 .brand1 img {
  margin-top: 28px;
  margin-left: 26px;
}
.oformlenie .kategori .kategori-brands-2 .brand2 {
  width: 215px;
  height: 80px;
  border-radius: 8px;
  background: rgba(0, 0, 0, 0.05);
}
.oformlenie .kategori .kategori-brands-2 .brand2 img {
  margin-top: 22px;
  margin-left: 22px;
}
.oformlenie .kategori .kategori-brands-2 .brand3 {
  width: 215px;
  height: 80px;
  border-radius: 8px;
  background: rgba(0, 0, 0, 0.05);
}
.oformlenie .kategori .kategori-brands-2 .brand3 img {
  margin-top: 12px;
  margin-left: 23px;
}
.oformlenie .kategori .kategori-brands-2 .brand4 {
  width: 215px;
  height: 80px;
  border-radius: 8px;
  background: rgba(0, 0, 0, 0.05);
}
.oformlenie .kategori .kategori-brands-2 .brand4 img {
  margin-top: 21px;
  margin-left: 20px;
}
.oformlenie .kategori .kategori-brands-3 {
  margin-top: 24px;
  margin-left: 147px;
  display: flex;
  column-gap: 37px;
  row-gap: 24px;
}
.oformlenie .kategori .kategori-brands-3 .odejda {
  width: 216px;
  height: 80px;
  border-radius: 8px;
  background: #ffc000;
}
.oformlenie .kategori .kategori-brands-3 .odejda h3 {
  color: #0d0d0d;
  text-align: center;
  font-family: Montserrat;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 140%;
  letter-spacing: 0.15px;
}
.oformlenie .kategori .kategori-brands-3 .brand1 {
  width: 215px;
  height: 80px;
  border-radius: 8px;
  background: rgba(0, 0, 0, 0.05);
}
.oformlenie .kategori .kategori-brands-3 .brand1 img {
  margin-top: 17px;
  margin-left: 53px;
}
.oformlenie .kategori .kategori-brands-3 .brand2 {
  width: 215px;
  height: 80px;
  border-radius: 8px;
  background: rgba(0, 0, 0, 0.05);
}
.oformlenie .kategori .kategori-brands-3 .brand2 img {
  margin-top: 22px;
  margin-left: 22px;
}
.oformlenie .kategori .kategori-brands-3 .brand3 {
  width: 215px;
  height: 80px;
  border-radius: 8px;
  background: rgba(0, 0, 0, 0.05);
}
.oformlenie .kategori .kategori-brands-3 .brand3 img {
  margin-top: 22px;
  margin-left: 21px;
}
.oformlenie .kategori .kategori-brands-3 .brand4 {
  width: 215px;
  height: 80px;
  border-radius: 8px;
  background: rgba(0, 0, 0, 0.05);
}
.oformlenie .kategori .kategori-brands-3 .brand4 img {
  margin-top: 21px;
  margin-left: 20px;
}
.oformlenie .kategori .kategori-brands-4 {
  margin-top: 24px;
  margin-left: 147px;
  display: flex;
  column-gap: 37px;
  row-gap: 24px;
}
.oformlenie .kategori .kategori-brands-4 .odejda {
  width: 216px;
  height: 80px;
  border-radius: 8px;
  background: #ffc000;
}
.oformlenie .kategori .kategori-brands-4 .odejda h3 {
  margin-top: 12px;
  margin-left: 16px;
  width: 184px;
  color: #0d0d0d;
  text-align: center;
  font-family: Montserrat;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 140%;
  letter-spacing: 0.15px;
}
.oformlenie .kategori .kategori-brands-4 .brand1 {
  width: 215px;
  height: 80px;
  border-radius: 8px;
  background: rgba(0, 0, 0, 0.05);
}
.oformlenie .kategori .kategori-brands-4 .brand1 img {
  margin-top: 11px;
  margin-left: 74px;
}
.oformlenie .kategori .kategori-brands-4 .brand2 {
  width: 215px;
  height: 80px;
  border-radius: 8px;
  background: rgba(0, 0, 0, 0.05);
}
.oformlenie .kategori .kategori-brands-4 .brand2 img {
  margin-top: 30px;
  margin-left: 18px;
}
.oformlenie .kategori .kategori-brands-4 .brand3 {
  width: 215px;
  height: 80px;
  border-radius: 8px;
  background: rgba(0, 0, 0, 0.05);
}
.oformlenie .kategori .kategori-brands-4 .brand3 img {
  margin-top: 12px;
  margin-left: 77px;
}
.oformlenie .kategori .kategori-brands-4 .brand4 {
  width: 215px;
  height: 80px;
  border-radius: 8px;
  background: rgba(0, 0, 0, 0.05);
}
.oformlenie .kategori .kategori-brands-4 .brand4 img {
  margin-top: 21px;
  margin-left: 20px;
}
.oformlenie footer {
  display: flex;
  width: 100%;
  height: 323px;
}
.oformlenie footer .imperia {
  margin-left: 146px;
  width: 270px;
  height: 80%;
}
.oformlenie footer .imperia h3 {
  color: #000;
  font-family: Montserrat;
  font-size: 14px;
  font-style: normal;
  font-weight: 900;
  line-height: 140%;
  letter-spacing: 0.75px;
  text-transform: uppercase;
}
.oformlenie footer .imperia p {
  width: 265px;
  color: #000;
  font-family: Montserrat;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 160%;
  letter-spacing: 0.25px;
}
.oformlenie footer .kontakti {
  margin-left: 29px;
}
.oformlenie footer .kontakti h3 {
  color: #000;
  font-family: Montserrat;
  font-size: 14px;
  font-style: normal;
  font-weight: 900;
  line-height: 140%;
  letter-spacing: 0.75px;
  text-transform: uppercase;
}
.oformlenie footer .kontakti h4 {
  color: #000;
  font-family: Montserrat;
  font-size: 14px;
  font-style: normal;
  font-weight: 800;
  line-height: 160%;
  letter-spacing: 0.25px;
}
.oformlenie footer .kontakti p {
  color: #000;
  font-family: Montserrat;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 160%;
  letter-spacing: 0.25px;
}
.oformlenie footer .kontakti .raboche-vremya {
  margin-top: 38px;
}
.oformlenie footer .kontakti .raboche-vremya h3 {
  color: #000;
  font-family: Montserrat;
  font-size: 14px;
  font-style: normal;
  font-weight: 900;
  line-height: 140%;
  letter-spacing: 0.75px;
  text-transform: uppercase;
}
.oformlenie footer .kontakti .raboche-vremya h4 {
  color: #000;
  font-family: Montserrat;
  font-size: 14px;
  font-style: normal;
  font-weight: 800;
  line-height: 160%;
  letter-spacing: 0.25px;
}
.oformlenie footer .kontakti .raboche-vremya h5 {
  color: #000;
  font-family: Montserrat;
  font-size: 14px;
  font-style: normal;
  font-weight: 800;
  line-height: 160%;
  letter-spacing: 0.25px;
}
.oformlenie footer .menu {
  margin-left: 205px;
}
.oformlenie footer .menu h3 {
  color: #000;
  font-family: Montserrat;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 140%;
  letter-spacing: 0.75px;
  text-transform: uppercase;
}
.oformlenie footer .menu ul {
  list-style: none;
  margin-left: -40px;
}
.oformlenie footer .menu ul li {
  margin-top: 10px;
  color: #000;
  font-family: Montserrat;
  font-size: 14px;
  font-style: normal;
  font-weight: 900;
  line-height: 160%;
  letter-spacing: 0.25px;
}
.oformlenie footer .kategorii {
  margin-left: 193px;
}
.oformlenie footer .kategorii h3 {
  color: #000;
  font-family: Montserrat;
  font-size: 14px;
  font-style: normal;
  font-weight: 900;
  line-height: 140%;
  letter-spacing: 0.75px;
  text-transform: uppercase;
}
.oformlenie footer .kategorii ul {
  margin-left: -40px;
  list-style: none;
}
.oformlenie footer .kategorii ul li {
  margin-top: 10px;
  color: #000;
  font-family: Montserrat;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 140%;
  letter-spacing: 0.75px;
  text-transform: uppercase;
}

@media screen and (max-width: 375px) {
  .oformlenie {
    width: 355px;
    height: 5094px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .oformlenie .oformlenie-top {
    display: none;
  }
  .oformlenie nav {
    width: 95%;
    display: flex;
    align-items: center;
    width: 95%;
    justify-content: space-between;
  }
  .oformlenie nav .nav-logo {
    display: none;
  }
  .oformlenie nav .nav-list {
    display: flex;
    align-items: center;
    width: 95%;
  }
  .oformlenie nav .nav-list ul {
    display: none;
  }
  .oformlenie nav .nav-list button {
    display: none;
  }
  .oformlenie nav .nav-list .menu {
    display: flex;
    margin-left: -80px;
  }
  .oformlenie nav .nav-list .brand {
    display: flex;
    margin-left: 16px;
  }
  .oformlenie nav .nav-list img {
    margin-top: -10px;
    margin-left: 180px;
  }
  .oformlenie .oformlenie-zakaz {
    width: 95%;
  }
  .oformlenie .oformlenie-zakaz h1 {
    margin-top: 5px;
  }
  .oformlenie .oformlenie-zakaz .oformlenie-zakaz-main {
    display: block;
  }
  .oformlenie .oformlenie-zakaz .oformlenie-zakaz-main .oformlenie-zakaz-left {
    width: 100%;
  }
  .oformlenie .oformlenie-zakaz .oformlenie-zakaz-main .oformlenie-zakaz-left .oformlenie-summa {
    width: 95%;
    margin: 0 auto;
  }
  .oformlenie .oformlenie-zakaz .oformlenie-zakaz-main .oformlenie-zakaz-left .oformlenie-summa .oformlenie-summa-top {
    display: flex;
    margin-left: 15px;
    width: 90%;
  }
  .oformlenie .oformlenie-zakaz .oformlenie-zakaz-main .oformlenie-zakaz-left .oformlenie-summa .oformlenie-summa-top h5 {
    margin-top: 20px;
    font-size: 14px;
  }
  .oformlenie .oformlenie-zakaz .oformlenie-zakaz-main .oformlenie-zakaz-left .oformlenie-summa .oformlenie-summa-top h4 {
    margin-top: 20px;
    font-size: 14px;
  }
  .oformlenie .oformlenie-zakaz .oformlenie-zakaz-main .oformlenie-zakaz-left .oformlenie-summa .oformlenie-summa-bottom {
    display: flex;
    margin-left: 15px;
    width: 90%;
  }
  .oformlenie .oformlenie-zakaz .oformlenie-zakaz-main .oformlenie-zakaz-left .oformlenie-summa .oformlenie-summa-bottom h5 {
    margin-top: 20px;
    font-size: 14px;
  }
  .oformlenie .oformlenie-zakaz .oformlenie-zakaz-main .oformlenie-zakaz-left .oformlenie-summa .oformlenie-summa-bottom h4 {
    margin-top: 20px;
    font-size: 14px;
  }
  .oformlenie .oformlenie-zakaz .oformlenie-zakaz-main .oformlenie-zakaz-left .payment {
    width: 90%;
    margin-left: 10px;
  }
  .oformlenie .oformlenie-zakaz .oformlenie-zakaz-main .oformlenie-zakaz-left .payment img {
    width: 123px;
    height: 39px;
  }
  .oformlenie .oformlenie-zakaz .oformlenie-zakaz-main .oformlenie-zakaz-right {
    width: 100%;
    margin-left: 0;
  }
  .oformlenie .oformlenie-zakaz .oformlenie-zakaz-main .oformlenie-zakaz-right input {
    width: 95%;
    margin-left: 5px;
  }
  .oformlenie .oformlenie-zakaz .oformlenie-zakaz-main .oformlenie-zakaz-right .right-btn {
    width: 100%;
  }
  .oformlenie .vash-zakaz {
    margin-top: 300px;
    width: 100%;
    height: 500px;
  }
  .oformlenie .vash-zakaz .zakaz1 {
    margin-left: 0;
    width: 95%;
    height: 108px;
  }
  .oformlenie .vash-zakaz .zakaz1 img {
    width: 85px;
    height: 108px;
    border-radius: 12px;
  }
  .oformlenie .vash-zakaz .zakaz1 .zakaz1-info {
    width: 100%;
  }
  .oformlenie .vash-zakaz .zakaz1 .zakaz1-info .zakaz1-info-name {
    width: 90%;
  }
  .oformlenie .vash-zakaz .zakaz1 .zakaz1-info .zakaz1-info-name h3 {
    font-size: 14px;
  }
  .oformlenie .vash-zakaz .zakaz1 .zakaz1-info .zakaz1-info-name img {
    display: none;
  }
  .oformlenie .vash-zakaz .zakaz1 .zakaz1-info img {
    display: none;
  }
  .oformlenie .vash-zakaz .zakaz1 .zakaz1-info p {
    display: none;
  }
  .oformlenie .vash-zakaz .zakaz1 .zakaz1-info .price {
    flex-wrap: wrap;
    margin-top: -35px;
  }
  .oformlenie .vash-zakaz .zakaz2 {
    display: flex;
    margin-left: 0;
    width: 95%;
    height: 108px;
  }
  .oformlenie .vash-zakaz .zakaz2 img {
    width: 85px;
    height: 108px;
    border-radius: 12px;
  }
  .oformlenie .vash-zakaz .zakaz2 .zakaz1-info {
    width: 100%;
  }
  .oformlenie .vash-zakaz .zakaz2 .zakaz1-info .zakaz1-info-name {
    width: 90%;
  }
  .oformlenie .vash-zakaz .zakaz2 .zakaz1-info .zakaz1-info-name h3 {
    font-size: 14px;
  }
  .oformlenie .vash-zakaz .zakaz2 .zakaz1-info .zakaz1-info-name img {
    display: none;
  }
  .oformlenie .vash-zakaz .zakaz2 .zakaz1-info img {
    display: none;
  }
  .oformlenie .vash-zakaz .zakaz2 .zakaz1-info p {
    display: none;
  }
  .oformlenie .vash-zakaz .zakaz2 .zakaz1-info .price {
    flex-wrap: wrap;
    margin-top: -35px;
  }
  .oformlenie .magazini {
    width: 100%;
    height: 600px;
  }
  .oformlenie .magazini h2 {
    margin-left: -10px;
    text-align: center;
  }
  .oformlenie .magazini .magazini-cards {
    margin-left: 1px;
    display: block;
    width: 100%;
  }
  .oformlenie .magazini .magazini-cards .magazini-card {
    margin-left: 35px;
    margin-top: 16px;
    width: 80%;
  }
  .oformlenie .kategori {
    width: 100%;
    height: 6000px;
  }
  .oformlenie .kategori .kategori-brands {
    margin-left: 10px;
    width: 100%;
    display: block;
  }
  .oformlenie .kategori .kategori-brands .odejda {
    display: flex;
    width: 95%;
  }
  .oformlenie .kategori .kategori-brands .odejda h3 {
    margin-top: 20px;
    margin-left: 130px;
  }
  .oformlenie .kategori .kategori-brands .brand1 {
    margin-top: 16px;
    width: 95%;
  }
  .oformlenie .kategori .kategori-brands .brand1 img {
    margin-left: 120px;
  }
  .oformlenie .kategori .kategori-brands .brand2 {
    margin-top: 16px;
    width: 95%;
  }
  .oformlenie .kategori .kategori-brands .brand2 img {
    margin-left: 100px;
  }
  .oformlenie .kategori .kategori-brands .brand3 {
    margin-top: 16px;
    width: 95%;
  }
  .oformlenie .kategori .kategori-brands .brand3 img {
    margin-left: 90px;
  }
  .oformlenie .kategori .kategori-brands .brand4 {
    margin-top: 16px;
    width: 95%;
  }
  .oformlenie .kategori .kategori-brands .brand4 img {
    margin-left: 80px;
  }
  .oformlenie .kategori .kategori-brands-2 {
    margin-top: 40px;
    margin-left: 10px;
    width: 100%;
    display: block;
  }
  .oformlenie .kategori .kategori-brands-2 .odejda {
    display: flex;
    width: 95%;
  }
  .oformlenie .kategori .kategori-brands-2 .odejda h3 {
    margin-top: 25px;
    margin-left: 90px;
  }
  .oformlenie .kategori .kategori-brands-2 .brand1 {
    margin-top: 16px;
    width: 95%;
  }
  .oformlenie .kategori .kategori-brands-2 .brand1 img {
    margin-left: 100px;
  }
  .oformlenie .kategori .kategori-brands-2 .brand2 {
    margin-top: 16px;
    width: 95%;
  }
  .oformlenie .kategori .kategori-brands-2 .brand2 img {
    margin-left: 90px;
  }
  .oformlenie .kategori .kategori-brands-2 .brand3 {
    margin-top: 16px;
    width: 95%;
  }
  .oformlenie .kategori .kategori-brands-2 .brand3 img {
    margin-left: 90px;
  }
  .oformlenie .kategori .kategori-brands-2 .brand4 {
    margin-top: 16px;
    width: 95%;
  }
  .oformlenie .kategori .kategori-brands-2 .brand4 img {
    margin-left: 90px;
  }
  .oformlenie .kategori .kategori-brands-3 {
    margin-top: 40px;
    margin-left: 10px;
    width: 100%;
    display: block;
  }
  .oformlenie .kategori .kategori-brands-3 .odejda {
    display: flex;
    width: 95%;
  }
  .oformlenie .kategori .kategori-brands-3 .odejda h3 {
    margin-top: 25px;
    margin-left: 140px;
  }
  .oformlenie .kategori .kategori-brands-3 .brand1 {
    margin-top: 16px;
    width: 95%;
  }
  .oformlenie .kategori .kategori-brands-3 .brand1 img {
    margin-left: 120px;
  }
  .oformlenie .kategori .kategori-brands-3 .brand2 {
    margin-top: 16px;
    width: 95%;
  }
  .oformlenie .kategori .kategori-brands-3 .brand2 img {
    margin-left: 90px;
  }
  .oformlenie .kategori .kategori-brands-3 .brand3 {
    margin-top: 16px;
    width: 95%;
  }
  .oformlenie .kategori .kategori-brands-3 .brand3 img {
    margin-left: 100px;
  }
  .oformlenie .kategori .kategori-brands-3 .brand4 {
    margin-top: 16px;
    width: 95%;
  }
  .oformlenie .kategori .kategori-brands-3 .brand4 img {
    margin-left: 90px;
  }
  .oformlenie .kategori .kategori-brands-4 {
    margin-top: 40px;
    margin-left: 10px;
    width: 100%;
    display: block;
  }
  .oformlenie .kategori .kategori-brands-4 .odejda {
    display: flex;
    width: 95%;
  }
  .oformlenie .kategori .kategori-brands-4 .odejda h3 {
    margin-top: 15px;
    margin-left: 80px;
  }
  .oformlenie .kategori .kategori-brands-4 .brand1 {
    margin-top: 16px;
    width: 95%;
  }
  .oformlenie .kategori .kategori-brands-4 .brand1 img {
    margin-left: 150px;
  }
  .oformlenie .kategori .kategori-brands-4 .brand2 {
    margin-top: 16px;
    width: 95%;
  }
  .oformlenie .kategori .kategori-brands-4 .brand2 img {
    margin-left: 90px;
  }
  .oformlenie .kategori .kategori-brands-4 .brand3 {
    margin-top: 16px;
    width: 95%;
  }
  .oformlenie .kategori .kategori-brands-4 .brand3 img {
    margin-left: 140px;
  }
  .oformlenie .kategori .kategori-brands-4 .brand4 {
    margin-top: 16px;
    width: 95%;
  }
  .oformlenie .kategori .kategori-brands-4 .brand4 img {
    margin-left: 90px;
  }
  .oformlenie .footer {
    display: none;
  }
}


/*# sourceMappingURL=main.css.map */
